@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap");

/* NAVBAR */

.NavContainer {
  background-color: rgb(100, 182, 168);
  box-shadow: 1px 1px 5px 1px grey;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: flex-start;
  margin-bottom: 50px;

  .NavText1 {
    color: whitesmoke;
    font-family: "Exo 2", sans-serif;
    margin-left: 180px;
    margin-top: 7px;
    text-decoration: none;
  }

  .NavText2 {
    color: whitesmoke;
    font-family: "Exo 2", sans-serif;
    margin-left: 30px;
    margin-top: 7px;
    text-decoration: none;
  }
}


/* FAVORITE CONTAINER */

.favoriteTitle {
  color: rgb(40, 40, 53);
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  margin-left: 180px;
  margin-bottom: 50px;
}

/* FAVORITE PREVIEW */

.delete-button {
  margin: 0;
  &:hover {
    cursor: pointer;
    animation: delete-button 0.25s;
    animation-fill-mode: forwards;
  }
}

@keyframes delete-button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
